/* Imoprt for PureCSS Library */
@import url("https://unpkg.com/purecss@1.0.1/build/pure-min.css");

#cy {
    /* width: 75%; */
    /* height: 90%; */
    position: absolute;
    display: block;
}

.pure-button {
    margin: 1em auto;
    padding: 1em;
    display: block;
    width: 20em;
}